/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
td, th
{
    text-align: right;
}
.articles
{
    height: 70vh;
}
.articles-scroll
{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
.accordion-title
{
    min-width: 0;
}
.more
{
    text-align: right;
}
.hidebadge
{
    visibility: hidden;
}
.accordion-body
{
    text-align: left;
}
.notactive
{
    pointer-events: none;
    cursor: default;
}
.status-spinner
{
    display:none;
}
.spinner-border
{
    animation-duration: 1.5s;
    z-index: 10;
}
.noarticles
{
    display:none;
}
.tooltip {
    --bs-tooltip-max-width: 70vw;
}
button span
{
    display: inline;
}

