{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
<!-- Delete Feed Modal -->
<div class="modal fade" id="deleteFeedModal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete Feed...</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="inputFeed" class="form-label">Feed to delete</label>
					<select class="form-select form-select-lg form-control" id="selectFeed" aria-describedby="deleteHelp">
					</select>
					<div id="deleteHelp" class="form-text">Choose the feed to delete.</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnDeleteFeedCancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" id="btnDeleteFeed" class="btn btn-primary">Delete Feed</button>
			</div>
		</div>
	</div>
</div>
<!-- Add Feed Modal -->
<div class="modal fade" id="addFeedModal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Feed...</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 position-relative">
					<label for="inputFeed" class="form-label">Feed address</label>
					<input type="text" class="form-control" id="inputFeed" aria-describedby="feedHelp" required>
                    <div class="invalid-feedback">
                        Invalid feed address.
                    </div>
					<div id="feedHelp" class="form-text">Input the address of the feed you want to follow.</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnAddFeedCancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" id="btnAddFeed" class="btn btn-primary">Add Feed</button>
			</div>
		</div>
	</div>
</div>
<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change Password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 position-relative">
					<input autocomplete="off" autofocus class="form-control mx-auto w-auto" required id="current_password" placeholder="Current Password" type="password">
                    <div class="invalid-feedback">
                        Incorrect password.
                    </div>
				</div>
				<div class="mb-3">
					<input autocomplete="off" class="form-control mx-auto w-auto" required id="new_password" placeholder="New Password" type="password">
				</div>
				<div class="mb-3 position-relative">
					<input class="form-control mx-auto w-auto" id="confirm_password" required placeholder="Confirm New Password" type="password">
                    <div id="new_password_feedback" class="invalid-feedback">
                        New passwords do not match.
                    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnChangePasswordCancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" id="btnChangePassword" class="btn btn-primary">Change Password</button>
			</div>
		</div>
	</div>
</div>
<!-- Start content -->
    <div class="container">
        <div class="row align-items-start">
            <div class="col col-2">
                <div id="feeds" class="feeds">
                    <div class="mb-3">
                        <label for="active_feed" class="form-label">Feed</label>
                        <select class="form-select form-control" id="active_feed" aria-describedby="activeFeedHelp">
                        </select>
                        <div id="activeFeedHelp" class="form-text">Choose the feed to display.</div>
                    </div>
                </div>
            </div>
            <div class="col col-10">
				<div class="mb-3">
					<div class="container">
					<div class="row align-items-start">
					<div class="col col-md-auto"><label for="show_type" class="form-label">Show: </label></div>
					<div class="col col-md-auto"><select id="show_type" class="form-control">
						<option value="0">Unread</option>
						<option value="1">Read</option>
						<option value="2">All</option>
					</select>
				</div>
				<div class="col col-md-auto"><a href="#0" id="mark_feed_read" class="btn btn-primary disabled notactive" role="button" data-bs-toggle="button" aria-disabled="true">Mark Read</a></div>
				</div>
				</div>
				</div>
                <div id="articles" class="articles overflow-auto">
                    <div id="status_spinner" class="position-absolute top-50 start-50 translate-middle">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                      <div class="accordion" id="accordion_articles">
                      </div>
                </div>
            </div>
        </div>
    </div>
	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
			  <div class="toast-body">
				Hello, world! This is a toast message.
			  </div>
			  <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		  </div>
		</div>
    <script>
        let visible_feed = null, updating_articles = false, first_run = true, fetch_timeout = 5000,
            show_type = 0, open_article = null, offset = 0, limit = 20, last_count = 0;

        let lastPromise = Promise.resolve();

        // use an "execution queue" to ensure functions run in order.
        async function runSequentially(task) {
            lastPromise = lastPromise.then(() => task());
            return lastPromise;
        }

        async function get_feeds() {
            //console.log("get_feeds()::");
            // load the feeds for the current user.
            return fetch("/get_feeds", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }

                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    let html = '';
                    try {
                        data.forEach(entry => {
                            html += '<option value="' + entry.id + '">' + entry.title + '</option>';
                        });
                    }
                    catch (error){
                        // feed list is empty
                    }
                    $('#active_feed').html(html);
                    return data;
                })
                .then(data => {
                    if ($('#active_feed').children('option').length > 0) {
                        // select the first feed.
                        let feed_to_show = 0;
                        if (visible_feed != null)
                            feed_to_show = $('#active_feed option').find(visible_feed).index();

                        $("#active_feed option").eq(feed_to_show).attr('selected', 'selected');
                        $("#show_type option[val='0']").attr('selected', 'selected');
                    }
                    return data;
                })
                .then(data => {
                    // trigger an update of the feed contents.
                    runSequentially(() => update_feeds());
                    return data;
                })
                .then(data => {
                    // change active_feed to trigger get_articles.
                    $('#active_feed').trigger('change');

                    return data;
                })
                .catch(error => {
                    console.log("get_feeds: " + error);
                })
        };

        function format_articles(data) {
            //console.log("format_articles()::");
            let array_of_data = [];
            if (!Array.isArray(data)) // make sure we can handle a single object as well as an array of data. ;)
                array_of_data = [data];
            else
                array_of_data = data;

            // format the articles for display.
            // create date objects for six days ago, and midnight. this will change how we format the published date.
            let date = new Date(Date.now());
            let six_days_ago = new Date(date.getTime() - (6 * 24 * 60 * 60 * 1000));
            six_days_ago.setHours(0, 0, 0, 0);
            let midnight = new Date(date.getTime());
            midnight.setHours(0, 0, 0, 0);
            // using 'Intl.DateTimeFormat' provides an easier way to format the published date. 'navigator.language' should make the format recogniseable to the user i.e. US, UK, FR...
            const long_formatter = new Intl.DateTimeFormat(navigator.language, { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false});
            const medium_formatter = new Intl.DateTimeFormat(navigator.language, { weekday: "short", hour: '2-digit', minute: '2-digit', hour12: false});
            const short_formatter = new Intl.DateTimeFormat(navigator.language, { hour: '2-digit', minute: '2-digit', hour12: false});

            let html = '';
            for(let i = 0; i < array_of_data.length; i++) {
                        let entry = array_of_data[i];
                        // create a string representation of the published date depending on whether it was today, within the last 7 days, or older.
                        let published = new Date(Date.parse(entry.published));
                        let published_string = '';
                        if (published.getTime() < six_days_ago.getTime())
                            published_string = long_formatter.format(published); // older than 7 days
                        else if (published.getTime() < midnight.getTime())
                            published_string = medium_formatter.format(published); // within the last 7 days
                        else
                            published_string = short_formatter.format(published); // today

                        html += '<div class="accordion-item" id="a' + entry.id + '" data-published-date="' + published.getTime() + '" data-article-id="' + entry.id + '">' +
                            '<h2 class="accordion-header">';

                        html += '<button class="accordion-button collapsed" type="button" id="a' + entry.id + '" data-bs-toggle="collapse"' +
                            ' data-bs-target="#collapse' + entry.id + '" aria-expanded="false" aria-controls="collapse' + entry.id + '">' +
                            '<div class="container"><div class="row align-items-start"><div class="col col-bg-auto text-truncate">' +
                            entry.title + '</div><div id="p' + entry.id + '" class="col col-sm-auto align-items-end ms-auto">' + published_string + '</div><div class="col col-sm-auto align-items-end ms-auto">';
                        html += '<span id="s' + entry.id + '" class="badge rounded-pill text-bg-primary';
                        if (entry.is_read == 1)
                            html += ' hidebadge" aria-hidden="true';
                        html += '">New</span>' +
                            '</div</div></button>' +
                            '</h2>' +
                            '<div id="collapse' + entry.id + '" class="accordion-collapse collapse" data-bs-parent="#accordion_articles">' +
                            '<div class="accordion-body">' +
                            '<div class="container"><div class="row align-items-start"><div class="col col-10-auto"><p>' + entry.summary + '</p>' +
                            '<p class="more"><a href="' + entry.link + '" target="_blank" rel="noopener noreferrer">Read more...</a></p></div>';
                        if (entry.thumb_url != '') {
                            html += '<div class="col col-4 ml-auto"><img src="' + entry.thumb_url + '" loading="lazy" height="' + entry.thumb_height + '" width="' + entry.thumb_width + '" alt="' + entry.title + '"></div></div></div>';
                        } else {
                            // no image
                            html += '<div class="col col-sm-auto"></div></div></div>';
                        }
                        html += '</div>' +
                            '</div>' +
                            '</div>';
                    };
            return html;
        }

        async function fetch_articles(a_limit = 20, a_offset = 0, article_ids = null) {
            //console.log("fetch_articles()::");
            // fetch limit articles from the server starting at offset.
            // if article_ids is supplied, ignore limit and offset and fetch those articles.
            return fetch("/fetch_articles", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": JSON.stringify({
                        'feed_id': visible_feed,
                        'show_type': show_type,
                        'limit': a_limit,
                        'offset': a_offset,
                        'article_ids': article_ids,
                    }),
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response;
                    }
                    return Promise.reject(response);
                })
                .catch(error => {
                    console.log("fetch_articles: " + error);
                });
        }

        function enhance_accordion() {
            //console.log("enhance_accordion()::");
            // remove event handlers so that we don't add them more than once.
            $(".accordion-collapse").each(
            function() {
                $(this).off('shown.bs.collapse').off('hidden.bs.collapse');
            });
            // add event handlers to each collapsible
            $(".accordion-collapse").each(
            function() {
                $(this).on('shown.bs.collapse', mark_article_read_event).on('hidden.bs.collapse', hide_article_event);
            });

            // toggle 'mark feed read' button (are there 'accordion-item's without a 'hidebadge' class?)
            if ($('div.accordion-item h2.accordion-header button div span:not(.hidebadge)').length > 0) {
                $('#mark_feed_read').removeClass('disabled notactive').removeAttr('aria-disabled');
            } else {
                $('#mark_feed_read').addClass('disabled notactive').attr('aria-disabled', 'true');
            }

        }

        async function get_articles() {
            //console.log("get_articles()::");
            // populate the articles div.
            if (visible_feed == null)
                return;

            $('#status_spinner').show();

            const result = await fetch_articles();

            return Promise.resolve(result)
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    updating_articles = true;
                    // create the accordion and populate it.
                    last_count = data.length;
                    let html = '';

                    html += format_articles(data);

                    html += '</div>';

                    $('#accordion_articles').html(html);
                    return data;
                })
                .then(data => {
                    enhance_accordion();
                    return data;
                })
                .catch(error => {
                    if (error instanceof Promise)
                        console.log("get_articles: %s", error.toString());
                    else
                        console.log("get_articles: " + error);
                })
                .finally(()=> {
                    $('#status_spinner').hide();
                    updating_articles = false;
                    $('#articles').scrollTop(0);
                });

        };

        function sort_articles() {
            //console.log("sort_articles()::");
            // doing this in the browser is costly, but only a few articles should need sorting.
            var article_list = $(".accordion-item");
            article_list.sort(function(a, b){
                // sort by descending published date.
                let sort_result =  $(b).data("published-date") - $(a).data("published-date");
                // if the articles have the same published date sort by descending id instead.
                if (sort_result == 0)
                    return $(b).data("article-id") - $(a).data("article-id");
                else
                    return sort_result;
                });
            $('#accordion_articles').html(article_list);
        }

        async function add_new_articles(count = 0, article_ids = null)
        {
            //console.log("add_new_articles()::");
            // reloading the whole accordion is a bit drastic, so we'll just add the new articles at the start and then sort them.
            const result = await fetch_articles(limit, offset, article_ids);
            return Promise.resolve(result)
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    updating_articles = true;
                    let html = '';
                    for (let i = 0; i < data.length; i++)
                    {
                        entry = data[i];
                        if (! $('#a' + entry.id).exists()) // make sure that it's not a duplicate.
                            html += format_articles(entry);
                    };

                    return html;
                })
                .then(html => {
                    html += $('#accordion_articles').html();

                    return html;
                })
                .then(html => {
                    $('#accordion_articles').html(html);
                    return html;
                })
                .then(html => {
                    return sort_articles();
                })
                .then(html => {
                    if (open_article != null) {
                        //$('#a' + open_article).collapse({ toggle: false}).collapse('show');
                        $('#collapse' + open_article).addClass('show');
                        runSequentially(() => reposition_article());
                    }

                    return runSequentially(() => enhance_accordion());
                })
                .catch(error => {
                    if (error instanceof Promise)
                        console.log("add_new_articles: %s", error.toString());
                    else
                        console.log("add_new_articles: " + error);
                })
                .finally(() => {
                    updating_articles = false;
                });

        }

        function reposition_article() {
            //console.log("reposition_article()::");
            if (open_article != null) {
                // make sure the collapse doesn't open out of view
                $('div#a' + open_article).get(0).scrollIntoView({
                    behavior: 'smooth',
                    block: 'nearest'
                });
            }
        }

        async function mark_article_read_event(event) {
            //console.log("mark_article_read_event()::");
            const source = event.target || event.srcElement;

            let article_id = source.id.substring(8);

            open_article = article_id;

            reposition_article();

            if ($("#s" + article_id).hasClass("hidebadge"))
                return;

            const result = await mark_article_read(article_id);

            Promise.resolve(result)
                .then(response => {
                    if (response && response.status == 200) {
                        return response.json();
                    }

                    return Promise.reject(response);
                })
                .then(result => {
                    if (result instanceof Promise){
                        const liveToast = document.getElementById('liveToast')
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                        $('.toast-body').html('<p>Error: Unable to mark article read.</p>');
                        toastBootstrap.show();
                        throw(Error(result));
                    }

                    if (result['status'] == "success") {
                        timer = setTimeout(() => {
                                $("#s" + article_id).addClass('hidebadge').attr('aria-hidden', 'true');
                            }, 500);
                    }
                })
                .catch(error =>  {
                        if (error instanceof Promise)
                            console.log("mark_article_read_event: %s", error.toString());
                        else
                            console.log("mark_article_read_event: " + error);
                });

        };

        function mark_article_read(article_id) {
            //console.log("mark_article_read()::");
            let data = JSON.stringify({
                'feed_id': visible_feed,
                'article_id': article_id,
            });
            
            return fetch("/mark_article_read", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": data,
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .catch(error => {
                    console.log("mark_article_read: " + error);
                });
        }

        function hide_article_event(event) {
            if(updating_articles == true)
                return;

            //console.log("hide_article_event()::");

            const source = event.target || event.srcElement;
            let article_id = source.id.substring(8);

            if (article_id == open_article)
                    open_article = null;

            if (show_type == 0 && $("#s" + article_id).hasClass("hidebadge")) {
                // only hide the article if show_type is unread
                timer = setTimeout(() => {
                    $("div#a" + article_id).off('shown.bs.collapse').off('hidden.bs.collapse').hide();
                }, 750);
            }

        };


        function showAddFeedModal(event) {
            event.preventDefault();
            $('#addFeedModal').modal('show');
        };

        $("#addFeedModal").on("hidden.bs.modal", function() {
            $('#inputFeed').removeClass('is-invalid').val('');
        });

        function clickAddFeed(event) {
            $('#inputFeed').removeClass('is-invalid');
            return fetch("/add_feed", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": JSON.stringify({
                        'feed_url': $('#inputFeed').val(),
                    }),
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    if (data['status'] == 'success') {
                        $('#inputFeed').trigger('blur').removeClass('is-invalid');
                        $('#btnAddFeed').trigger('blur');
                        $('#btnAddFeedCancel').trigger('blur');
                        $('#addFeedModal').modal('hide');
                        const liveToast = document.getElementById('liveToast')
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                        $('.toast-body').html('<p>Feed added.</p>');
                        toastBootstrap.show();
                        visible_feed = data['feed_id'];

                    } else {
                        $('#inputFeed').addClass('is-invalid');
                    }
                    return data;
                })
                .then(data => {
                    if (data['status'] == 'success') {
                        get_feeds();
                    }

                    return data;
                })
                .catch(error => {
                    console.log("clickAddFeed: " + error);
                });
        };

        function showDeleteFeedModal(event) {
            event.preventDefault();
            return fetch("/get_feeds", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    let html = '';
                    data.forEach(entry => {
                        html += '<option value="' + entry.id + '">' + entry.title + '</option>';
                    });
                    $('#selectFeed').html(html);

                    return data;
                })
                .then(data => {
                    $('#deleteFeedModal').modal('show');
                    return data;
                })
                .catch(error => {
                    console.log("showDeleteFeedModal: " + error);
                });
        };

        function clickDeleteFeed(event) {
            let feed_id = $('#selectFeed').val();
            return fetch("/delete_feed", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": JSON.stringify({
                        'feed_id': feed_id,
                    }),
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    if (data['status'] == 'success') {
                        $('#btnDeleteFeed').trigger('blur');
                        $('#btnDeleteFeedCancel').trigger('blur');
                        $('#selectFeed').trigger('blur').html('');
                        $('#deleteFeedModal').modal('hide');

                        const liveToast = document.getElementById('liveToast');
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                        $('.toast-body').html('<p>Feed deleted.</p>');
                        toastBootstrap.show();
                    }
                    return data;
                })
                .then(data => {
                    if (feed_id == visible_feed) {
                        visible_feed = null;
                        open_article = null;
                        $('#accordion_articles').html('');
                    }
                    return data;
                })
                .then(data => {
                    get_feeds();
                    return data;
                })
                .then(data => {
                    // clean up the database. deleting the feed and articles will leave empty space.
                    timer = setTimeout(() => {
                        compact_db();
                    }, 750);

                    return data;
                })
                .catch(error => {
                    console.log("clickDeleteFeed: " + error);
                });
        };

        async function update_feeds() {
            //console.log("update_feeds()::");
            // doing this feed by feed will hopefully prevent timeouts.
            $('#active_feed option').each(function() {
                update_feed($(this).val());
            });

            return Promise.resolve();
        };

        async function update_feed(feed_id = null) {
            //console.log("update_feed()::");
            let data = null,
                result = '';

            if (feed_id)
                data = JSON.stringify({
                    'feed_id': feed_id,
                });
            else
                data = JSON.stringify({});

            return fetch("/update_feeds", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": data,
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    if (visible_feed != null && feed_id == visible_feed) {
                        if (data['status'] == 'success' && data['count'] > 0) {
                            if (first_run != true)
                                add_new_articles(data['count'], data['article_ids']);
                            else {
                                get_articles();
                                first_run = false;
                            }
                            const liveToast = document.getElementById('liveToast')
                            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                            $('.toast-body').html('<p>Feed updated.</p>');
                            toastBootstrap.show();
                        }
                        else {
                            const liveToast = document.getElementById('liveToast')
                            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                            $('.toast-body').html('<p>No new articles.</p>');
                            toastBootstrap.show();
                        }
                    }

                    return data;
                })
                .catch(error => {
                    console.log("update_feed: " + error + " feed id: " + feed_id);
                });
        }


        function clickRefreshFeeds(event) {
            event.preventDefault();
            update_feeds();
        }

        async function changeActiveFeed(event) {
            //console.log("changeActiveFeed()::");
            if ($('#active_feed').find(":selected").val() == '')
                return;

            let result = await Promise.resolve().then(() => {
                $('#mark_feed_read').addClass('disabled notactive').attr('aria-disabled', 'true');
                $('#accordion_articles').html('');
                open_article = null;
                offset = 0;
                visible_feed = $('#active_feed').val();
                show_type = $('#show_type').val();
            })
            .catch(error => {
                    console.log("changeActiveFeed: " + error);
            });

            result = await runSequentially(() => get_articles());

            return result;
        };


        function mark_feed_read(event) {
            event.preventDefault();
            if (show_type != 0)
                return;

            data = JSON.stringify({
                'feed_id': visible_feed,
            });
            return fetch("/mark_feed_read", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": data,
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    if (data['status'] == 'success') {
                        $('#accordion_articles').html('');
                        const liveToast = document.getElementById('liveToast');
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                        $('.toast-body').html('<p>Feed Marked Read.</p>');
                        toastBootstrap.show();
                    }

                    return data;
                })
                .then(data => {
                    const articles_div = $('div#articles').get(0);
                    if (articles_div.scrollHeight < articles_div.clientHeight && last_count == limit)
                        $('div#articles').trigger('scroll');

                    return data;
                })
                .catch(error =>  {
                    console.log("mark_feed_read: " + error);
                })
        };

        function showChangePasswordModal(event) {
            event.preventDefault();
            $('#changePasswordModal').modal('show');
        }

        function clickChangePassword(event) {
            $('#current_password').removeClass('is-invalid');
            $('#new_password').removeClass('is-invalid');
            $('#confirm_password').removeClass('is-invalid');

            let data = JSON.stringify({
                'current_password': $('#current_password').val(),
                'new_password': $('#new_password').val(),
                'confirm_password': $('#confirm_password').val(),
            });
            return fetch("/change_password", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": data,
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(response => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .then(data => {
                    if (data instanceof Promise)
                        throw (Error(data));

                    if (data['status'] == 'success') {
                        $('#btnChangePassword').trigger('blur');
                        $('#btnChangePasswordCancel').trigger('blur');
                        $('#current_password').trigger('blur');
                        $('#new_password').trigger('blur');
                        $('#confirm_password').trigger('blur');
                        $('#changePasswordModal').modal('hide');
                        const liveToast = document.getElementById('liveToast')
                        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
                        $('.toast-body').html('<p>Password changed.</p>');
                        toastBootstrap.show();
                    } else {
                        if (data['error'] == 'bad password')
                            $('#current_password').addClass('is-invalid');
                        else if (data['error'] == 'password mismatch') {
                            $('div#new_password_feedback').text('New passwords do not match.');
                            $('#new_password').addClass('is-invalid');
                            $('#confirm_password').addClass('is-invalid');
                        }
                        else if (data['error'] == 'password blank') {
                            $('div#new_password_feedback').text('New passwords cannot be blank.');
                            $('#new_password').addClass('is-invalid');
                            $('#confirm_password').addClass('is-invalid');
                        }
                    }

                    return data;
                })
                .catch(error => {
                    console.log("clickChangePassword: " + error);
                });
        }

        async function compact_db() {
            return fetch("/compact_db", {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "",
                    signal: AbortSignal.timeout(fetch_timeout),
                })
                .then(respose => {
                    if (response.status == 200) {
                        return response.json();
                    }
                    return Promise.reject(response);
                })
                .catch(error => {
                    console.log("compact_db: " + error);
                });
        }

        $("#changePasswordModal").on("hidden.bs.modal", function() {
            $('#current_password').removeClass('is-invalid').val('');
            $('#new_password').removeClass('is-invalid').val('');
            $('#confirm_password').removeClass('is-invalid').val('');
        });

        function resizeEvent(event) {
            if (open_article == null)
                return;

            reposition_article();
        }

        // add an 'isScrolledToBottom' function to the jQuery object. we're only using this in articlesScrollEvent.
        jQuery.fn.isScrolledToBottom = function () {
            const element = this.get(0);
            return (Math.abs(element.scrollHeight - element.clientHeight - element.scrollTop) <= 1);
        }

        // add an 'exists' function to the jQuery object.
        jQuery.fn.exists = function () {
            return this.length > 0;
        };

        async function articlesScrollEvent(event) {
            if (updating_articles == true)
                return;

            //console.log("articlesScrollEvent()::");
            // if we are scrolling fetch another limit articles and add them to the accordion.
            if ($('div#articles').isScrolledToBottom() && last_count == limit) {
                offset = offset + limit;
                const result = await fetch_articles(limit, offset, null);
                return Promise.resolve(result)
                    .then(response => {
                        if (response.status == 200) {
                            return response.json();
                        }
                        return Promise.reject(response);
                    })
                    .then(data => {
                        if (data instanceof Promise)
                            throw (Error(data));

                        last_count = data.length;
                        let html = $('#accordion_articles').html();
                        for (let i = 0; i < data.length; i++)
                        {
                            entry = data[i];
                            if (! $('#a' + entry.id).exists()) // make sure its not a duplicate.
                                html += format_articles(entry);
                        };
                        return html;
                    })
                    .then(html => {
                        $('#accordion_articles').html(html);
                    })
                    .then(() => {
                        return sort_articles();
                    })
                    .then(() => {
                        return enhance_accordion();
                    })
                    .catch(error => {
                        last_count = 0;
                        console.log("articlesScrollEvent: " + error);
                    });
            }
        }

        $(document).ready(function() {
            // register event handlers. using jQuery seems to work more reliably in chrome
            $(window).on('resize', resizeEvent);
            $('#add_feed').on('click', showAddFeedModal);
            $('#delete_feed').on('click', showDeleteFeedModal);
            $('#refresh_feeds').on('click', clickRefreshFeeds);
            $('#btnAddFeed').on('click', clickAddFeed);
            $('#btnDeleteFeed').on('click', clickDeleteFeed);
            $('#active_feed').on('change', changeActiveFeed);
            $('#show_type').on('change', changeActiveFeed);
            $('#mark_feed_read').on('click', mark_feed_read);
            $('#change_password').on('click', showChangePasswordModal);
            $('#btnChangePassword').on('click', clickChangePassword);
            $('#articles').on('scroll', articlesScrollEvent);

            // check for new articles every 15 minutes
            window.setInterval(update_feeds, 900000);

            // get the party started :D
            runSequentially(() => get_feeds());
        });
    </script>
<!-- End Content -->
{% endblock %}
